@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;
}

.roboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  #floating-btn {
    width: 80px;
    height: 80px;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    /* More precise centering */
  }

  #floating-btn>svg {
    width: 2rem;
    height: 2rem;
    margin: auto;
  }
}